doctype html
html
    head
        script(src="client-js/survey_client.js")
    body
        h2= __('menu')
        textarea#description(cols=70,rows=8)
        h2= __('order')
        input#order(size=25)
